<header >
      
    <nav class="navbar">
      <ul>
     <li> <a>TravelApp</a></li>
      <li><a [routerLink]="['/home']" routerLinkActive="router-link-active"   >Home</a></li>
      <li><a >Book Tickets</a></li>
      <li><a >Travel Packages</a></li>
      <li><a >About Us</a></li>
      <li><a >Contact Us</a></li>
      <div class="rightcorner">
      <li ><a ><i class="fa-solid fa-user"></i> Sign Up</a></li>
      <li ><a ><i class="fa-solid fa-right-to-bracket"></i>Sign In</a></li>
    </div>
    </ul>
    </nav>
  </header>